html, body {
    background-color: #2f4f30;
    color:white;
    margin: 0;
}

.game-card {
    left: 100px;
    margin-left: -75px;
    position: relative;
    width: 150px;
}

.titulo{
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

#computer-cards, #player-cards {
    height: 240px;
}